body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1438px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2449 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:123px;
  width:442px;
  height:57px;
}
#u2450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:57px;
}
#u2450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u2450_img.mouseOver {
}
#u2450.mouseOver {
}
#u2450_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u2451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:57px;
}
#u2451 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:0px;
  width:111px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#199ED8;
}
#u2451_img.mouseOver {
}
#u2451.mouseOver {
}
#u2451_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u2452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:57px;
}
#u2452 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:0px;
  width:111px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2452_img.mouseOver {
}
#u2452.mouseOver {
}
#u2452_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u2453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:57px;
}
#u2453 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:0px;
  width:109px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2453_img.mouseOver {
}
#u2453.mouseOver {
}
#u2453_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:105px;
  word-wrap:break-word;
}
#u2454_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:447px;
  height:10px;
}
#u2454 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:179px;
  width:442px;
  height:5px;
}
#u2454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2455_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:107px;
  height:10px;
}
#u2455 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:179px;
  width:102px;
  height:5px;
  color:#199ED8;
}
#u2455_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1039px;
  height:475px;
}
#u2456 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:293px;
  width:1039px;
  height:475px;
}
#u2456_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1430px;
  height:79px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2457 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:1307px;
  width:1430px;
  height:79px;
}
#u2457_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:1426px;
  word-wrap:break-word;
}
#u2458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#199ED8;
}
#u2458 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:768px;
  width:300px;
  height:98px;
  font-size:36px;
  color:#199ED8;
}
#u2458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:296px;
  word-wrap:break-word;
}
#u2459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2459 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:860px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2459_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:2px;
}
#u2460 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:874px;
  width:89px;
  height:1px;
}
#u2460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:2px;
}
#u2461 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:874px;
  width:89px;
  height:1px;
}
#u2461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2462 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:981px;
  width:469px;
  height:270px;
}
#u2463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:30px;
}
#u2463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:30px;
  text-align:left;
}
#u2463_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:465px;
  word-wrap:break-word;
}
#u2464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:30px;
}
#u2464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:469px;
  height:30px;
  text-align:left;
}
#u2464_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:465px;
  word-wrap:break-word;
}
#u2465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:30px;
}
#u2465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:469px;
  height:30px;
  text-align:left;
}
#u2465_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:465px;
  word-wrap:break-word;
}
#u2466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:30px;
}
#u2466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:469px;
  height:30px;
  text-align:left;
}
#u2466_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:465px;
  word-wrap:break-word;
}
#u2467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:30px;
}
#u2467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:469px;
  height:30px;
  text-align:left;
}
#u2467_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:465px;
  word-wrap:break-word;
}
#u2468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:30px;
}
#u2468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:469px;
  height:30px;
  text-align:left;
}
#u2468_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:465px;
  word-wrap:break-word;
}
#u2469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:30px;
}
#u2469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:469px;
  height:30px;
  text-align:left;
}
#u2469_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:465px;
  word-wrap:break-word;
}
#u2470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:30px;
}
#u2470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:469px;
  height:30px;
  text-align:left;
}
#u2470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:465px;
  word-wrap:break-word;
}
#u2471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:30px;
}
#u2471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:469px;
  height:30px;
  text-align:left;
}
#u2471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:465px;
  word-wrap:break-word;
}
#u2472 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:981px;
  width:469px;
  height:270px;
}
#u2473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:30px;
}
#u2473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:30px;
  text-align:left;
}
#u2473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:465px;
  word-wrap:break-word;
}
#u2474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:30px;
}
#u2474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:469px;
  height:30px;
  text-align:left;
}
#u2474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:465px;
  word-wrap:break-word;
}
#u2475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:30px;
}
#u2475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:469px;
  height:30px;
  text-align:left;
}
#u2475_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:465px;
  word-wrap:break-word;
}
#u2476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:30px;
}
#u2476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:469px;
  height:30px;
  text-align:left;
}
#u2476_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:465px;
  word-wrap:break-word;
}
#u2477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:30px;
}
#u2477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:469px;
  height:30px;
  text-align:left;
}
#u2477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:465px;
  word-wrap:break-word;
}
#u2478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:30px;
}
#u2478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:469px;
  height:30px;
  text-align:left;
}
#u2478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:465px;
  word-wrap:break-word;
}
#u2479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:30px;
}
#u2479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:469px;
  height:30px;
  text-align:left;
}
#u2479_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:465px;
  word-wrap:break-word;
}
#u2480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:30px;
}
#u2480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:469px;
  height:30px;
  text-align:left;
}
#u2480_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:465px;
  word-wrap:break-word;
}
#u2481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:30px;
}
#u2481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:469px;
  height:30px;
  text-align:left;
}
#u2481_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:465px;
  word-wrap:break-word;
}
#u2482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2482 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:936px;
  width:469px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:465px;
  word-wrap:break-word;
}
#u2483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2483 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:936px;
  width:469px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:465px;
  word-wrap:break-word;
}
#u2484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#339900;
}
#u2484 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:948px;
  width:51px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#339900;
}
#u2484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u2485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#339900;
}
#u2485 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:949px;
  width:51px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#339900;
}
#u2485_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u2486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:24px;
}
#u2487 {
  border-width:0px;
  position:absolute;
  left:1214px;
  top:47px;
  width:95px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:24px;
}
#u2487_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u2488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:105px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2488 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-7px;
  width:1440px;
  height:105px;
}
#u2488_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:111px;
}
#u2489 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-9px;
  width:372px;
  height:111px;
}
#u2489_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2490 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u2491 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:32px;
  width:48px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:24px;
}
#u2491_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  color:#1E1E1E;
}
#u2492 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:44px;
  width:100px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  color:#1E1E1E;
}
#u2492_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  color:#1E1E1E;
}
#u2492.mouseOver {
}
#u2492_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u2493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2494 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:72px;
  width:82px;
  height:26px;
}
#u2494_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2494.mouseOver {
}
#u2494_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:78px;
  word-wrap:break-word;
}
#u2495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2495 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:125px;
  width:82px;
  height:27px;
}
#u2495_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2495.mouseOver {
}
#u2495_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u2496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2496 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:98px;
  width:82px;
  height:27px;
}
#u2496_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2496.mouseOver {
}
#u2496_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
