body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1438px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  line-height:22px;
}
#u1769 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:200px;
  width:101px;
  height:35px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  line-height:22px;
}
#u1769_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u1770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:22px;
}
#u1770 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:236px;
  width:101px;
  height:35px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:22px;
}
#u1770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u1771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:22px;
}
#u1771 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:262px;
  width:101px;
  height:35px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:22px;
}
#u1771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u1772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:22px;
}
#u1772 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:288px;
  width:101px;
  height:35px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:22px;
}
#u1772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u1773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:22px;
}
#u1773 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:236px;
  width:245px;
  height:35px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:22px;
}
#u1773_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u1774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:22px;
}
#u1774 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:264px;
  width:245px;
  height:35px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:22px;
}
#u1774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u1775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1775 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:288px;
  width:187px;
  height:23px;
}
#u1775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1776 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:333px;
  width:71px;
  height:35px;
  font-size:14px;
}
#u1776_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u1777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:111px;
}
#u1777 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-13px;
  width:449px;
  height:111px;
}
#u1777_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u1778 {
  border-width:0px;
  position:absolute;
  left:1152px;
  top:47px;
  width:48px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:24px;
}
#u1778_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
}
#u1779 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:59px;
  width:100px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
}
#u1779_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u1780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:105px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1780 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-7px;
  width:1440px;
  height:105px;
}
#u1780_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:111px;
}
#u1781 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-9px;
  width:372px;
  height:111px;
}
#u1781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u1783 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:32px;
  width:48px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:24px;
}
#u1783_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  color:#1E1E1E;
}
#u1784 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:44px;
  width:100px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  color:#1E1E1E;
}
#u1784_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  color:#1E1E1E;
}
#u1784.mouseOver {
}
#u1784_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u1785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1786 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:72px;
  width:82px;
  height:26px;
}
#u1786_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1786.mouseOver {
}
#u1786_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:78px;
  word-wrap:break-word;
}
#u1787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1787 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:152px;
  width:82px;
  height:27px;
}
#u1787_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1787.mouseOver {
}
#u1787_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u1788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1788 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:98px;
  width:82px;
  height:27px;
}
#u1788_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1788.mouseOver {
}
#u1788_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u1789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1789 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:125px;
  width:82px;
  height:27px;
}
#u1789_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1789.mouseOver {
}
#u1789_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u1790_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1213px;
  height:5px;
}
#u1790 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:160px;
  width:1210px;
  height:2px;
}
#u1790_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1791 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:128px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u1792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:589px;
}
#u1792 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:196px;
  width:1px;
  height:589px;
}
#u1792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1793 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:206px;
  width:66px;
  height:25px;
  font-size:16px;
}
#u1793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
