body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1438px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:24px;
}
#u2891 {
  border-width:0px;
  position:absolute;
  left:1214px;
  top:47px;
  width:95px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:24px;
}
#u2891_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u2892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:105px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2892 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-7px;
  width:1440px;
  height:105px;
}
#u2892_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:111px;
}
#u2893 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-9px;
  width:372px;
  height:111px;
}
#u2893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u2895 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:32px;
  width:48px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:24px;
}
#u2895_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  color:#1E1E1E;
}
#u2896 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:44px;
  width:100px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  color:#1E1E1E;
}
#u2896_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  color:#1E1E1E;
}
#u2896.mouseOver {
}
#u2896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u2897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2898 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:72px;
  width:82px;
  height:26px;
}
#u2898_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2898.mouseOver {
}
#u2898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:78px;
  word-wrap:break-word;
}
#u2899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2899 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:125px;
  width:82px;
  height:27px;
}
#u2899_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2899.mouseOver {
}
#u2899_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u2900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2900 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:98px;
  width:82px;
  height:27px;
}
#u2900_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2900.mouseOver {
}
#u2900_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u2901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2901 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:167px;
  width:235px;
  height:33px;
}
#u2901_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:33px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2901.mouseOver {
}
#u2901_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:231px;
  word-wrap:break-word;
}
#u2902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:146px;
}
#u2902 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:235px;
  width:199px;
  height:146px;
}
#u2902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1149px;
  height:2px;
}
#u2903 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:210px;
  width:1148px;
  height:1px;
}
#u2903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:587px;
}
#u2904 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:210px;
  width:1px;
  height:586px;
}
#u2904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2905 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:391px;
  width:125px;
  height:35px;
}
#u2905_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2905.mouseOver {
}
#u2905_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u2906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2906 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:577px;
  width:140px;
  height:40px;
}
#u2906_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2907 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:261px;
  width:317px;
  height:32px;
}
#u2907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2909 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:325px;
  width:100px;
  height:16px;
}
#u2909_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2909_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2910 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:325px;
  width:100px;
  height:16px;
}
#u2910_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2910_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2911 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:362px;
  width:317px;
  height:32px;
}
#u2911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2912 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:264px;
  width:70px;
  height:26px;
}
#u2912_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u2913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2913 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:320px;
  width:70px;
  height:26px;
}
#u2913_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u2914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2914 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:365px;
  width:70px;
  height:26px;
}
#u2914_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u2915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2915 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:418px;
  width:76px;
  height:26px;
}
#u2915_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:72px;
  word-wrap:break-word;
}
#u2916 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:422px;
  width:300px;
  height:22px;
}
#u2916_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2916_input:disabled {
  color:grayText;
}
#u2917 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:468px;
  width:84px;
  height:22px;
}
#u2917_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2917_input:disabled {
  color:grayText;
}
#u2918 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:468px;
  width:55px;
  height:22px;
}
#u2918_input {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2918_input:disabled {
  color:grayText;
}
#u2919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2919 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:466px;
  width:76px;
  height:26px;
}
#u2919_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:72px;
  word-wrap:break-word;
}
#u2920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2920 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:517px;
  width:76px;
  height:26px;
}
#u2920_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:72px;
  word-wrap:break-word;
}
#u2921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2921 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:514px;
  width:317px;
  height:32px;
}
#u2921_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2923 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:313px;
  width:235px;
  height:26px;
}
#u2923_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2923.mouseOver {
}
#u2923_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:231px;
  word-wrap:break-word;
}
#u2924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2924 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:366px;
  width:235px;
  height:27px;
}
#u2924_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2924.mouseOver {
}
#u2924_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:231px;
  word-wrap:break-word;
}
#u2925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2925 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:339px;
  width:235px;
  height:27px;
}
#u2925_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2925.mouseOver {
}
#u2925_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:231px;
  word-wrap:break-word;
}
#u2926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2926 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:393px;
  width:235px;
  height:27px;
}
#u2926_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2926.mouseOver {
}
#u2926_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:231px;
  word-wrap:break-word;
}
#u2927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2927 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:287px;
  width:235px;
  height:26px;
  color:#000000;
}
#u2927_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:26px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2927.mouseOver {
}
#u2927_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:231px;
  word-wrap:break-word;
}
#u2928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2928 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:244px;
  width:235px;
  height:33px;
}
#u2928_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:33px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2928.mouseOver {
}
#u2928_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:231px;
  word-wrap:break-word;
}
