body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1438px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:123px;
  width:442px;
  height:57px;
}
#u2206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:57px;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u2206_img.mouseOver {
}
#u2206.mouseOver {
}
#u2206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u2207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:57px;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:0px;
  width:111px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2207_img.mouseOver {
}
#u2207.mouseOver {
}
#u2207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u2208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:57px;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:0px;
  width:111px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2208_img.mouseOver {
}
#u2208.mouseOver {
}
#u2208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u2209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:57px;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:0px;
  width:109px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#199ED8;
}
#u2209_img.mouseOver {
}
#u2209.mouseOver {
}
#u2209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:105px;
  word-wrap:break-word;
}
#u2210_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:447px;
  height:10px;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:179px;
  width:442px;
  height:5px;
}
#u2210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2211_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:107px;
  height:10px;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:179px;
  width:102px;
  height:5px;
  color:#199ED8;
}
#u2211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1236px;
  height:412px;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:241px;
  width:1236px;
  height:412px;
}
#u2212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:1348px;
  width:97px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u2214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2215_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1237px;
  height:6px;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:1394px;
  width:1234px;
  height:3px;
}
#u2215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:1289px;
  top:1372px;
  width:79px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:745px;
  width:129px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u2218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2219_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1237px;
  height:6px;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:791px;
  width:1234px;
  height:3px;
}
#u2219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:1301px;
  top:769px;
  width:79px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u2221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1430px;
  height:79px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:2133px;
  width:1430px;
  height:79px;
}
#u2221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:1426px;
  word-wrap:break-word;
}
#u2222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1273px;
  height:327px;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:1418px;
  width:1273px;
  height:327px;
}
#u2222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:1745px;
  width:129px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u2224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2225_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1237px;
  height:6px;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:1791px;
  width:1234px;
  height:3px;
}
#u2225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:1289px;
  top:1769px;
  width:79px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u2227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:294px;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:1815px;
  width:1279px;
  height:294px;
}
#u2227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#199ED8;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:815px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#199ED8;
}
#u2228_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#199ED8;
}
#u2228.mouseDown {
}
#u2228_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#199ED8;
}
#u2228.selected {
}
#u2228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:815px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2229_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2229.mouseOver {
}
#u2229_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2229.mouseDown {
}
#u2229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1237px;
  height:402px;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:856px;
  width:1237px;
  height:402px;
}
#u2230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1244px;
  height:407px;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:856px;
  width:1244px;
  height:407px;
}
#u2231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:24px;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:1214px;
  top:47px;
  width:95px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:24px;
}
#u2233_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u2234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:105px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-7px;
  width:1440px;
  height:105px;
}
#u2234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:111px;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-9px;
  width:372px;
  height:111px;
}
#u2235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:32px;
  width:48px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:24px;
}
#u2237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  color:#1E1E1E;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:44px;
  width:100px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  color:#1E1E1E;
}
#u2238_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  color:#1E1E1E;
}
#u2238.mouseOver {
}
#u2238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:72px;
  width:82px;
  height:26px;
}
#u2240_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2240.mouseOver {
}
#u2240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:78px;
  word-wrap:break-word;
}
#u2241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:125px;
  width:82px;
  height:27px;
}
#u2241_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2241.mouseOver {
}
#u2241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u2242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:98px;
  width:82px;
  height:27px;
}
#u2242_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2242.mouseOver {
}
#u2242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
